<div>
    <h2>Add recipe</h2>
    <form action="/category/<%= @category_id%>/recipes/add" method="post">
        <input type="hidden" name="" value="">
        <div class="form-group">
            <label>Recipes Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label>Recipes description</label>
            <input type="text" name="description" class="form-control" placeholder="Description" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Recipes</button>
        </div>
        <div class="form-group">
            <p>View recipes <a href="/categories/<%= @category_id%>/recipes"> here</a> </p>
        </div>
    </form>
</div>
