<div class="container">
  <div class="col-md-offset-3">
    <div class="jumbotron">

      <h2>My Recipe</h2>

      <div class="content">
        <p>Welcome to My Recipes</p>
      </div>

      <div class="form-row">
        <div class="col">
          <a href="" class="btn btn-primary">Login</a>
        </div>
        <div class="col">
          <a href="/users/register" class="btn btn-primary">Register</a>
        </div>
      </div>

    </div>
  </div>
</div>